<%- include("./partials/head.ejs") %>


    <%- include("./partials/navbar.ejs") %>

        <!-- signup form section  -->
        <div class="container p-md-3 p-5 m-auto">
            <div class="row">

                <div class="col-md-12 border border-3 p-4 ">
                    <form action="/login" method="post">
                        <div class="row">
                            
                            <div class="col-md-12 mb-5">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email*"
                                    name="Email">
                            </div>
                            
                            <div class="col-md-12 mb-5">
                                <input type="password" class="form-control" id="Password" placeholder="password*"
                                    name="password">
                                <p id="passVal"><%= valError%></p>
                            </div>
                            
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary d-block mx-auto" id="submitBtn">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>